<div class="container-fluid mySiteHeader">
    <div class="container">
        <div class="page-header">
            <h1>Eat Da Burger</h1>
        </div>
    </div>
</div>
<div class="container">
</div>