<div class="container-fluid mySiteHeader">
    <div class="container">
        <div class="page-header">
            <h1>Eat Da Burger</h1>
        </div>
    </div>
</div>
<div class="container">
    <div id="formPanel" class="panel panel-primary">
        <div class="panel-heading">
            <h2>Craft Your Burger</h2>
        </div>
        <div class="panel-body">
            <form action="/" method="POST" id="myForm">

                <div class="form-group myContainer">
                    <label for="commentText">Comment</label>
                    <textarea id="commentText" name="comment" class="form-control" rows="3" placeholder="Don't forget the secret sauce."></textarea>
                </div>

                <div id="toppingsGroup" class="form-group">
                    <div class="checkbox">
                        <label><input type="checkbox" value="cheese">Cheese</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="tomato">Tomato</label>
                    </div>
                </div>

                <button id="submitCreation" class="btn btn-primary btn-lg btn-block mySubmit" type="submit">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    Create
                </button>

            </form>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h2>Burgers</h2>
        </div>
        <div class="panel-body">
            <div class="col-xs-12 col-sm-6">
                <div class="container-fluid">
                    <h2>Uneaten Burgers</h2>
                </div>
                <div class="container-fluid burgersCol">
                    <div class="burgerContainer">
                        <div class="burgerId">
                            100000203
                        </div>
                        <img src="assets/img/burger.png" alt="burger" class="col-xs-12">
                        <div class="container-fluid">
                            <h3>Toppings</h3>
                            <ul>
                                <li>Coffee</li>
                                <li>Tea</li>
                                <li>Milk</li>
                            </ul>
                        </div>
                        <div class="container-fluid">
                            <h3>Comments</h3>
                            <p>Don't forget the secret sauce</p>
                        </div>
                        <div class="container-fluid">
                            <h3>Date Created</h3>
                            <p>06-15-2017</p>
                        </div>
                        <div class="container-fluid eatBurgerButton">
                            <form action="" method="POST">
                                <button id="submitDevour" class="btn btn-primary btn-lg btn-block myDevour" type="submit">
                                    Eat Da Burger!
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="burgerContainer">
                        <img src="assets/img/burger.png" alt="burger" class="col-xs-12">
                        <div class="container-fluid">
                            <h3>Toppings</h3>
                            <ul>
                                <li>Coffee</li>
                                <li>Tea</li>
                                <li>Milk</li>
                            </ul>
                        </div>
                        <div class="container-fluid">
                            <h3>Comments</h3>
                            <p>Don't forget the secret sauce</p>
                        </div>
                        <div class="container-fluid eatBurgerButton">
                            <form action="" method="POST">
                                <button id="submitDevour" class="btn btn-primary btn-lg btn-block myDevour" type="submit">
                                    Eat Da Burger!
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="container-fluid">
                    <h2>Eaten Burgers</h2>
                </div>
                <div class="container-fluid burgersCol">
                    <div class="burgerContainer">
                        <img src="assets/img/burger.png" alt="burger" class="col-xs-12">
                        <div class="container-fluid">
                            <h3>Toppings</h3>
                            <ul>
                                <li>Coffee</li>
                                <li>Tea</li>
                                <li>Milk</li>
                            </ul>
                        </div>
                        <div class="container-fluid">
                            <h3>Comments</h3>
                            <p>Don't forget the secret sauce</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>